<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>UC Activity Component <%= _.slugify(cmpName) %></title>
    <style type="text/css">
    </style>
</head>
<body>

    <article id="app">
        <h1>cmp-<%= _.slugify(cmpName) %></h1>
        <section v-component="cmp-<%= _.slugify(cmpName) %>">
        </section>
    </article>

    <script src="js/cmp/vue.js"></script>
    <script src="js/seajs/sea.js"></script>
    <script>
seajs.use('bootstrap');
    </script>

    <!-- livereload -->
    <script src="//localhost:35729/livereload.js"></script>
</body>
</html>